p, a{
    font: 16px Arial;
}
.subscribeBtn{
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    margin-bottom: 35px;
}
#cost{
    padding: 10px;
    font-size: 15px;
}
.calculate{
    padding: 12px 15px;
    font-size: 15px;
    background: green;
    color: white;
    border: none;
}
.game{
    margin-top: 55px;

}