
body{
    font-family: Arial;
}

.enterTodo, .displayTodo{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    grid-gap: 10px;
}

.displayTodo{
    margin-top: 20px;
    align-items: center;
}

.todo, .date{
    font-size: 15px;
    padding: 6px;
}

.add{
    background: green;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.delete{
    background: darkred;
    border: none;
    color: white;
    font-size: 15px;
    padding: 10px 0px;
    cursor: pointer;
}